@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Vue3-Popper styling */
.error-popup {
  --popper-theme-background-color: theme(colors.red.600);
  --popper-theme-background-color-hover: theme(colors.red.500);
  --popper-theme-text-color: theme(colors.white);
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: theme(borderRadius.DEFAULT);
  --popper-theme-padding: theme(padding.2);
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}
